.card {
    display: flex;
    width: 500px;
    margin-top: 50px;
    margin-left: 400px;

}

.card-link {
    text-decoration: none;
}
.card-link {
    background-color: aqua;
    display: flex;
    flex-direction: row;
}